@font-face {
    font-family: 'FiraSansExtraCondensed';
    src: url('../fonts/FiraSansExtraCondensed-Bold.woff2') format('woff2'), url('../fonts/FiraSansExtraCondensed-Bold.woff') format('woff');
    font-weight: bold;
}

@font-face {
    font-family: 'FiraSansExtraCondensed';
    src: url('../fonts/FiraSansExtraCondensed-Regular.woff2') format('woff2'), url('../fonts/FiraSansExtraCondensed-Regular.woff') format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'Lora-VariableFont_wght';
    src: url('../fonts/Lora-VariableFont_wght.woff2') format('woff2'), url('../fonts/Lora-VariableFont_wght.woff') format('woff');
    font-weight: 100 900;
}