@use "./vars"as *;
@use "./_functions"as *;


.story {
    &--margin {
        scroll-margin-top: toRem(80);
    }

    background: #121C22FF;
    background: linear-gradient(160deg, rgba(18, 28, 34, 1) 0%, rgba(18, 1, 7, 1) 50%, rgba(30, 17, 22, 1) 100%);
    padding: toRem(40) 0;

    @media (min-width:toEm(700)) {
        padding: toRem(80) 0;
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: toRem(25);


        transition: all 0.3s;
        transform: translateY(50%);
        opacity: 0;

        .show & {
            transform: translateY(0);
            opacity: 1;
        }
    }

    &__title {
        font-size: toRem(24);
        font-family: $secondFontFamily;
        font-weight: 600;

        @media (min-width:toEm(600)) {
            font-size: toRem(30);
        }
    }

    &__content {

        p {
            line-height: 1.3;

            &:not(:last-child) {
                margin-bottom: toRem(20);
            }
        }
    }

    &__blur-image {
        // max-width: toRem(200);
        background-size: cover;
        background-position: center;
        width: 100%;
        float: none;
        margin: 0 0 toRem(20) 0;
        aspect-ratio: 18 / 9;

        img {
            opacity: 0;
        }

        &.loaded {
            img {
                opacity: 1;
            }
        }

        @media (min-width:toEm(600)) {
            max-width: toRem(450);
            float: right;
            margin-left: toRem(10);
            margin-bottom: toRem(10);

        }
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.3s;

        object-position: center;
        object-fit: cover;
    }
}