$mainFontFamily: "Lora-VariableFont_wght";
$secondFontFamily: "FiraSansExtraCondensed";

$mainTextColor: #fff;
$secondTextColor: #c4c4c4;
$thirdTextColor: #000000;

$firstAccentColor: #00c3ff;
$secondAccentColor: #ffd000;
$secondAccentColorHover: #e3ff71;
$thirdAccentColor: #ff422d;
$thirdAccentColorHover: #c51400;



$tableBG: #101624;
$tableAccent: #747474;
$tableMainBG: #44444E;



$mainBgColor: #1e1e1e;
$secondBgColor: #181616;

$openTabColor: #273338;