@import url(https://fonts.googleapis.com/css?family=Orbitron:regular,700&display=swap);
@font-face {
  font-family: icons;
  font-display: swap;
  src: url(../fonts/icons.woff2) format("woff2"),url(../fonts/icons.woff) format("woff");
  font-weight: 400;
  font-style: normal
}
[class*=_icon-]:before {
  font-family: icons;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
[class*=_icon-]:before {
  display: block
}
._icon-compass-line:before {
  content: "\e900"
}
._icon-console-line:before {
  content: "\e902"
}
._icon-magaza-line:before {
  content: "\e903"
}
._icon-play-line:before {
  content: "\e904"
}
._icon-target-line:before {
  content: "\e905"
}
._icon-facebook-social:before {
  content: "\e906"
}
._icon-line:before {
  content: "\e907"
}
._icon-inst:before {
  content: "\e901"
}
._icon-linkedin:before {
  content: "\e909"
}
._icon-twitter:before {
  content: "\e90e"
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #fff;
  line-height: 1;
  font-family: Orbitron;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Orbitron;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent
}
input,
textarea {
  width: 100%
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
body {
  font-family: Orbitron
}
.menu-open body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper > main {
  flex: 1 1 auto
}
.wrapper > * {
  min-width: 0
}
[class*=__container] {
  max-width: 88.125rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.label {
  color: #57b8ff;
  font-weight: 400;
  text-transform: uppercase;
  display: flex;
  align-items: flex-start;
  gap: .6875rem
}
.label::before {
  content: "";
  flex-shrink: 0;
  margin-top: -.3125rem;
  width: 2em;
  height: 2em;
  background: url(../img/page/hero/icon-fire.svg) 0 0/cover no-repeat
}
.header {
  transition: all .3s;
  color: #fff;
  padding: 1.25em 0;
  font-size: 1rem
}
.header--fixed {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 90
}
.header__container {
  display: flex;
  gap: .75rem;
  justify-content: space-between;
  align-items: center
}
.header__logo {
  position: relative;
  z-index: 3;
  width: 100%;
  flex-shrink: 0;
  flex-basis: 12.5rem
}
.header__actions {
  display: flex;
  gap: 2.5em;
  row-gap: .9375em;
  align-items: center
}
.header__shop {
  position: relative;
  font-size: 1.875em;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s,-webkit-transform .3s
}
.header__number-shop {
  position: absolute;
  bottom: 50%;
  left: 100%;
  min-height: 1.125rem;
  height: 100%;
  background-color: #fff;
  color: #000;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 6.25rem;
  padding: 0 .375rem;
  font-size: .875rem
}
.header__button {
  padding: 1em 1.9375em;
  border: .0625rem solid #fff;
  background-color: transparent;
  transition: background-color .3s
}
.header__burger {
  flex-shrink: 0;
  display: none
}
.menu-header__list {
  display: flex;
  gap: 1.875em;
  align-items: center;
  flex-wrap: wrap
}
.menu-header__link {
  font-size: 1rem;
  padding: .75em .9375em;
  font-weight: 400;
  transition: all .3s
}
.menu-header__link--checked {
  color: #fac422
}
.footer {
  background-color: #222730;
  color: #999;
  font-size: 1rem;
  padding-top: 8.125rem;
  padding-bottom: 1.875rem
}
.footer__info {
  width: 100%;
  display: flex;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem;
  row-gap: .9375rem;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 3.1333333333em;
  border-bottom: .0625rem solid #3e3e3e
}
.footer__logos {
  display: grid;
  gap: 2.5333333333em;
  max-width: 19.3125rem
}
.footer__text-logo p {
  line-height: 1.5;
  font-weight: 400
}
.footer__text-logo p:not(:last-child) {
  margin-bottom: .625rem
}
.footer__navigation {
  display: flex;
  gap: 1.25rem;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: space-between
}
.footer__bottom {
  padding-top: 3.1333333333em;
  text-align: center
}
.footer__text-bottom {
  color: #898989;
  font-size: .9333333333em;
  font-weight: 400
}
.menu-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.1333333333em
}
.menu-footer__title {
  color: #fff;
  font-weight: 400;
  font-size: 1.2em
}
.menu-footer__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: .6666666667em
}
.menu-footer__link {
  font-weight: 400;
  line-height: 1.5;
  transition: color .3s
}
.menu-footer__social-icons {
  display: flex;
  align-items: center;
  gap: 1.0666666667em
}
.menu-footer__link-social {
  text-align: center;
  font-size: 1.4666666667em;
  padding: .8666666667em;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: #383d45;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s
}
.hero {
  padding: 15.625rem 0;
  font-size: 1rem;
  background: linear-gradient(90deg,#000 60%,#57b8ff 40%);
  width: 100%
}
.hero__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .9375em;
  max-width: 93.75rem
}
.hero__navigation {
  color: #80858f;
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
  text-orientation: sideways;
  -webkit-transform: rotate(180deg) translateX(50%);
  transform: rotate(180deg) translateX(50%);
  display: flex;
  align-items: flex-start;
  flex-grow: 1;
  gap: 1.25em
}
.hero__item-navigation {
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s,-webkit-transform .3s
}
.hero__link-navigation {
  font-weight: 400;
  font-size: .6875em
}
.hero__box-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.875em;
  width: 100%;
  max-width: 88.125rem
}
.hero__content {
  max-width: 41.875em
}
.hero__content > *:last-child {
  margin-bottom: 0
}
.hero__sub-title {
  margin-bottom: .625em
}
.hero__title {
  font-size: 4.5em;
  font-weight: 400;
  line-height: 1.3;
  margin-bottom: .4375em
}
.hero__title span {
  position: relative
}
.hero__title span::before {
  font-size: 1rem;
  position: absolute;
  top: 100%;
  left: 0;
  color: #fac422
}
.hero__text {
  margin-bottom: 3.3125em
}
.hero__text p {
  color: #999;
  font-size: 1.125em;
  font-weight: 400;
  line-height: 1.1
}
.hero__text p:not(:last-child) {
  margin-bottom: .625rem
}
.hero__button {
  padding: 1.3125em 2.125em;
  font-size: 1.125em;
  text-align: center;
  color: #fff;
  transition: background-color .3s
}
.hero__button--background {
  background-color: #57b8ff;
  transition: background-color .3s
}
.hero__graphics {
  display: flex;
  flex-direction: column
}
.hero__image {
  width: 100%;
  height: 100%
}
.hero__mark {
  align-self: flex-end;
  color: #000;
  background-color: #fff;
  border-radius: .375rem;
  padding: .375em;
  display: flex;
  align-items: center;
  gap: .3125rem;
  position: relative;
  left: 9.375rem
}
.hero__img-mark {
  width: 1rem;
  height: 1rem
}
.supporter {
  background-color: #fdd04a;
  color: #555;
  font-size: 1rem;
  padding: 8rem 0
}
.supporter__container {
  text-align: center
}
.supporter__container > *:not(:last-child) {
  max-width: 37.5rem
}
.supporter__container > *:last-child {
  margin-bottom: 0
}
.supporter__title {
  font-size: 3em;
  font-weight: 400;
  margin: 0 auto 1.125em;
  color: #000
}
.supporter__title span {
  position: relative
}
.supporter__title span::before {
  position: absolute;
  top: 100%;
  left: 0;
  -webkit-transform: translateX(-10%);
  transform: translateX(-10%);
  font-size: .75rem;
  color: #57b8ff
}
.supporter__text {
  margin: 0 auto 1.5625em
}
.supporter__text p {
  font-weight: 400;
  line-height: 1.5
}
.supporter__text p:not(:last-child) {
  margin-bottom: .625rem
}
.supporter__section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  -webkit-column-gap: .6875em;
  -moz-column-gap: .6875em;
  column-gap: .6875em;
  row-gap: .625em
}
.supporter__block {
  flex-grow: 1;
  padding: .625em;
  border-radius: .5rem;
  background-color: rgba(255,255,255,.35)
}
.supporter__body {
  padding: 1em;
  border-radius: .5rem;
  background-color: rgba(255,255,255,.3)
}
.supporter__img {
  aspect-ratio: 170/67;
  -o-object-fit: cover;
  object-fit: cover;
  max-width: 10.625rem
}
.no-webp .community {
  background: url(../img/page/community/background.jpg) center 0/cover no-repeat
}
.community {
  font-size: 1.125rem;
  padding: 8.125rem 0;
  color: #555
}
.community__container {
  max-width: 49.4444444444em;
  margin: 0 auto;
  text-align: center
}
.community__container > *:last-child {
  margin-bottom: 0
}
.community__title {
  font-size: 4em;
  font-weight: 400;
  line-height: 1.3;
  margin-bottom: .5555555556em;
  color: #141820
}
.community__title span {
  position: relative
}
.community__title span::before {
  position: absolute;
  top: 100%;
  left: 0;
  font-size: 1.0625rem;
  color: #57b8ff
}
.community__text {
  margin-bottom: 1.3888888889em
}
.community__text p {
  line-height: 1.3;
  font-weight: 400
}
.community__text p:not(:last-child) {
  margin-bottom: .375rem
}
.form-community {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap
}
.form-community__input {
  flex: 1 1 28.125rem;
  background-color: #fff;
  height: 3.3333333333em;
  padding: 0 .7222222222em;
  font-weight: 400
}
.form-community__input::-webkit-input-placeholder {
  opacity: 1;
  color: #555;
  font-weight: 700
}
.form-community__input:-ms-input-placeholder {
  opacity: 1;
  color: #555;
  font-weight: 700
}
.form-community__input::-ms-input-placeholder {
  opacity: 1;
  color: #555;
  font-weight: 700
}
.form-community__input::placeholder {
  opacity: 1;
  color: #555;
  font-weight: 700
}
.form-community__input:focus {
  outline: 0
}
.form-community__input:focus-visible {
  outline: 1px solid #000
}
.form-community__button {
  flex: 1 1 11.5625rem;
  padding: 1.1666666667em 1.2222222222em;
  color: #fff;
  background-color: #57b8ff;
  transition: background-color .3s
}
.no-webp .shop {
  background: url(../img/page/shop/background.jpg) center center/cover no-repeat
}
.shop {
  font-size: 1.125rem;
  padding: 8.125rem 0
}
.shop__container {
  text-align: center
}
.shop__container > *:not(:last-child) {
  max-width: 44.4444444444em
}
.shop__container > *:last-child {
  margin-bottom: 0
}
.shop__info {
  max-width: 44.4444444444em;
  margin: 0 auto
}
.shop__label {
  justify-content: center;
  margin: 0 auto 1.2222222222em
}
.shop__title {
  font-size: 3.5555555556em;
  font-weight: 400;
  margin: 0 auto 1.1111111111em
}
.shop__text {
  margin: 0 auto 3.5em
}
.shop__text p {
  color: rgba(223,223,223,.8);
  font-weight: 400
}
.shop__text p:not(:last-child) {
  margin-bottom: .625rem
}
.advantages-shop {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 1.7777777778em
}
.advantages-shop__block {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
  background-color: rgba(255,255,255,.15);
  padding: 1.9444444444em 1.9444444444em 1.9444444444em 4.4444444444em;
  border-radius: .75rem
}
.advantages-shop__title {
  font-size: 1.7777777778em;
  position: relative
}
.advantages-shop__title::before {
  content: "";
  position: absolute;
  left: -1.5555555556em;
  top: 0;
  margin-top: -.3125rem;
  width: .8888888889em;
  height: .8888888889em;
  background: url(../img/page/shop/icon.svg) 0 0/cover no-repeat
}
.advantages-shop__text {
  width: 100%
}
.advantages-shop__text p {
  color: rgba(223,223,223,.8);
  font-weight: 400
}
.advantages-shop__text p:not(:last-child) {
  margin-bottom: .625rem
}
.features {
  display: flex;
  width: 100%;
  text-align: center
}
.features__block {
  flex-grow: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  aspect-ratio: 480/732;
  overflow: hidden
}
.features__image {
  position: absolute;
  left: 0;
  top: 0;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s,-webkit-transform .3s
}
.features__title {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: .3125rem;
  margin: 1.25rem;
  font-size: 3rem;
  font-weight: 400
}
.features__title::before {
  font-size: 2.5em
}
.gaming-cloud {
  background-color: #000;
  color: rgba(223,223,223,.8);
  font-size: 1.25rem;
  padding-top: 8.125rem;
  padding-bottom: 7.5rem
}
.gaming-cloud__container {
  display: flex;
  align-items: center;
  -webkit-column-gap: 6.25rem;
  -moz-column-gap: 6.25rem;
  column-gap: 6.25rem;
  row-gap: 2.5rem
}
.gaming-cloud__content {
  flex-basis: 46.875rem;
  flex-grow: 1;
  flex-shrink: 1
}
.gaming-cloud__content > *:last-child {
  margin-bottom: 0
}
.gaming-cloud__label {
  font-size: .75em;
  margin-bottom: 1.1em
}
.gaming-cloud__title {
  font-weight: 400;
  font-size: 3.2em;
  line-height: 1.1;
  color: #fff;
  margin-bottom: .6em
}
.gaming-cloud__text {
  margin-bottom: 2.2em
}
.gaming-cloud__text p {
  font-weight: 400;
  line-height: 1.3
}
.gaming-cloud__text p:not(:last-child) {
  margin-bottom: .625rem
}
.gaming-cloud__link {
  padding: 1.05em 1.7em;
  color: #fff;
  background-color: #57b8ff;
  text-align: center;
  transition: background-color .3s
}
.gaming-cloud__wrapper-video {
  flex-basis: 30.75rem;
  flex-grow: 1;
  flex-shrink: 1;
  aspect-ratio: 492/550;
  border-radius: 3.75rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative
}
.gaming-cloud__custom-button {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 8rem;
  height: 8rem;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  background-color: rgba(255,255,255,.7);
  color: #000;
  border-radius: 50%;
  border: .75rem solid rgba(255,255,255,.3);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.25rem
}
.character {
  background-color: #3b3d46
}
.character__container {
  display: flex;
  min-width: 0;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: .9375rem
}
.character__slider {
  width: 37.25rem;
  margin: 0 auto
}
.character__slide {
  aspect-ratio: 596/695;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  max-width: 37.25rem
}
.character__slide img {
  aspect-ratio: 596/695;
  -o-object-fit: cover;
  object-fit: cover;
  max-width: 37.25rem
}
.character__content {
  max-width: 37.25rem;
  width: 100%;
  padding: 1.25rem 0
}
.character__content > *:last-child {
  margin-bottom: 0
}
.character__label {
  margin-bottom: 1.375rem
}
.character__title {
  font-size: 4rem;
  font-weight: 400;
  margin-bottom: 2.375rem
}
.character__text {
  margin-bottom: 3.375rem
}
.character__text p {
  line-height: 1.3;
  font-weight: 400;
  color: rgba(153,153,153,.8)
}
.character__text p:not(:last-child) {
  margin-bottom: .625rem
}
.character__slider-choose {
  position: relative;
  width: 37.25rem;
  margin: 0 auto
}
.character__slide-choose {
  width: 11.125rem!important;
  height: 6.375rem!important;
  border-radius: .75rem;
  overflow: hidden
}
.character__image-choose {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  max-width: 11.125rem;
  height: 100%
}
.character__button-next-choose,
.character__button-prev-choose {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 2.75rem;
  height: 2.75rem;
  padding: .6875rem;
  background-color: #57b8ff
}
.character__button-next-choose img,
.character__button-prev-choose img {
  width: 100%;
  height: 100%
}
.character__button-prev-choose {
  left: 0;
  -webkit-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg)
}
.character__button-next-choose {
  right: 0
}
.news {
  background-color: #000;
  color: #fff;
  padding-top: 8.125rem;
  padding-bottom: 7.5rem
}
.news__container {
  display: grid;
  gap: 4.25rem
}
.news__titling {
  font-size: 1.125rem;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: .625rem
}
.news__label {
  font-size: 1em
}
.news__title {
  font-size: 3.5555555556em;
  font-weight: 400;
  grid-column: 1/2;
  grid-row: 2/3
}
.news__link {
  padding: 1.1666666667em 1.8888888889em;
  grid-row: 2/3;
  justify-self: end;
  align-self: end;
  background-color: #57b8ff;
  transition: background-color .3s
}
.news__body {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  width: 100%;
  -webkit-column-gap: 1.5rem;
  -moz-column-gap: 1.5rem;
  column-gap: 1.5rem;
  row-gap: 2.375rem
}
.news__block {
  width: 100%
}
.news__block > *:last-child {
  margin-bottom: 0
}
.news__block--main {
  grid-column: 1/3;
  grid-row: 1/3
}
.news__image {
  border-radius: 1.375rem;
  margin-bottom: 1.875rem;
  height: auto;
  aspect-ratio: 312/189
}
.news__image--main {
  margin-bottom: 3.375rem;
  aspect-ratio: 648/510;
  border-radius: 2.75rem
}
.news__time {
  display: block;
  margin-bottom: 1.25rem;
  font-size: 1rem;
  color: #57b8ff
}
.news__time--size {
  font-size: 1.125rem
}
.news__time--main {
  margin-bottom: 1.75rem
}
.news__name {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2;
  transition: color .3s
}
.news__name--main {
  font-size: 2.25rem
}
.swiper {
  overflow: hidden
}
.swiper-initialized {
  touch-action: pan-y
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative
}
.swiper-vertical .swiper-wrapper {
  flex-direction: column
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start
}
.swiper-initialized .swiper-slide {
  flex-shrink: 0
}
.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0)
}
.swiper-button-lock {
  display: none!important
}
@media (max-width:36em) {
  .hero__container {
    flex-direction: column-reverse;
    gap: 1.25rem
  }
  .hero__navigation {
    -webkit-writing-mode: unset;
    -ms-writing-mode: unset;
    writing-mode: unset;
    text-orientation: unset;
    -webkit-transform: rotate(0) translateX(0);
    transform: rotate(0) translateX(0);
    font-size: 1.25rem;
    color: #fff
  }
}
@media (max-width:26em) {
  .character__slider-choose {
    width: 11.125rem
  }
}
@media (max-width:112.5em) {
  .hero__mark {
    left: 0
  }
}
@media (max-width:88.125em) {
  .hero {
    padding: 10.625rem 0;
    font-size: .875rem
  }
  .shop {
    font-size: 1rem;
    padding: 5.625rem 0
  }
  .features__title {
    font-size: 2.375rem
  }
  .character__slider {
    width: 28.125rem
  }
  .character__title {
    font-size: 3.375rem;
    margin-bottom: 1.75rem
  }
  .news {
    padding-top: 5.625rem;
    padding-bottom: 4.375rem
  }
  .news__body {
    grid-template-columns: repeat(3,1fr)
  }
}
@media (max-width:76.375em) {
  .character__container {
    justify-content: center
  }
}
@media (max-width:61.99875em) {
  .header {
    font-size: .875rem
  }
  .header__logo {
    flex-basis: 6.25rem
  }
  .footer {
    padding-top: 5.625rem;
    font-size: .875rem
  }
  .hero {
    padding: 6.875rem 0;
    font-size: .75rem
  }
  .hero__title {
    font-size: 3.25em
  }
  .hero__title span::before {
    font-size: .75rem
  }
  .hero__button {
    padding: .625em .9375em
  }
  .supporter {
    font-size: .875rem;
    padding: 6.25rem 0
  }
  .supporter__title {
    font-size: 2.1875em
  }
  .supporter__title span::before {
    font-size: .5rem
  }
  .community {
    font-size: 1rem;
    padding: 5.625rem 0
  }
  .community__title {
    font-size: 2.3333333333em
  }
  .community__title span::before {
    font-size: .5rem
  }
  .shop {
    font-size: .875rem;
    padding: 3.75rem 0
  }
  .shop__title {
    font-size: 2.2222222222em
  }
  .features__title {
    font-size: 1.75rem
  }
  .gaming-cloud {
    padding-top: 5.625rem;
    padding-bottom: 4.375rem;
    font-size: 1rem
  }
  .character__slider {
    width: 20rem
  }
  .character__label {
    margin-bottom: .75rem
  }
  .character__title {
    font-size: 2.75rem;
    margin-bottom: 1.125rem
  }
  .character__text {
    margin-bottom: 1.375rem
  }
  .news {
    padding-top: 2.5rem;
    padding-bottom: 1.875rem
  }
  .news__container {
    gap: 2.125rem
  }
  .news__titling {
    grid-template-columns: repeat(1,1fr);
    font-size: .875rem
  }
  .news__title {
    font-size: 2.1111111111em
  }
  .news__link {
    grid-row: 3/4;
    justify-self: start
  }
  .news__body {
    grid-template-columns: repeat(2,1fr)
  }
  .news__name--main {
    font-size: 1.75rem
  }
}
@media (max-width:61.25em) {
  .menu-header__list {
    gap: .625em
  }
}
@media (max-width:55.625em) {
  .gaming-cloud__title {
    font-size: 1.8em
  }
}
@media (max-width:47.99875em) {
  .header {
    font-size: .75rem
  }
  .header__menu {
    background-color: #57b8ff;
    display: flex;
    flex-direction: column;
    gap: .9375rem;
    overflow: auto;
    position: fixed;
    z-index: 3;
    width: 50%;
    height: 100%;
    right: -100%;
    top: 0;
    padding: 3.125rem .9375rem .9375rem 1.875rem;
    transition: right .3s
  }
  .header__menu::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 4.375rem;
    left: -100%;
    top: 0;
    transition: left .3s;
    z-index: 2
  }
  .menu-open .header__menu {
    right: 0
  }
  .menu-open .header__menu::before {
    left: 0
  }
  .header__actions {
    flex-direction: column;
    justify-content: center
  }
  .header__button {
    padding: .375em .8125em
  }
  .header__burger {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5
  }
  .header__burger span,
  .header__burger::after,
  .header__burger::before {
    content: "";
    transition: all .3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: .125rem;
    background-color: #fff
  }
  .header__burger::before {
    top: 0
  }
  .header__burger::after {
    bottom: 0
  }
  .header__burger span {
    top: calc(50% - .0625rem)
  }
  .menu-open .header__burger span {
    width: 0
  }
  .menu-open .header__burger::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .header__burger::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  .menu-header__list {
    flex-direction: column
  }
  .footer {
    padding-top: 2.5rem;
    font-size: .75rem
  }
  .hero {
    padding: 6.25rem 0 3.75rem
  }
  .hero__title {
    font-size: 1.625em
  }
  .supporter {
    font-size: .75rem;
    padding: 4.25rem 0
  }
  .supporter__title span::before {
    font-size: .375rem;
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
  .community {
    font-size: .875rem;
    padding: 3.75rem 0
  }
  .community__title span::before {
    font-size: .4375rem
  }
  .features__title {
    font-size: 1rem
  }
  .gaming-cloud {
    padding-top: 2.5rem;
    padding-bottom: 1.875rem;
    font-size: .875rem
  }
  .gaming-cloud__container {
    flex-wrap: wrap
  }
  .character__slider {
    width: 12.5rem
  }
  .character__title {
    font-size: 1.5rem
  }
  .news__body {
    grid-template-columns: repeat(1,1fr)
  }
  .news__block--main {
    grid-column: 1/2;
    grid-row: 1/2
  }
}
@media (max-width:47.99875em) and (any-hover:none) {
  .header__burger {
    cursor: default
  }
}
@media (max-width:47.5em) {
  .hero__title span::before {
    font-size: .375rem
  }
}
@media (max-width:38.875em) {
  .character__slider-choose {
    width: 24.125rem
  }
}
@media (max-width:36.25em) {
  .advantages-shop {
    grid-template-columns: repeat(1,1fr)
  }
}
@media (max-width:35.9375em) {
  .hero {
    background: linear-gradient(180deg,#000 60%,#57b8ff 40%)
  }
  .hero__box-content {
    flex-direction: column;
    text-align: center
  }
  .hero__sub-title {
    justify-content: center
  }
}
@media (max-width:28.125em) {
  .hero__title span::before {
    font-size: .25rem
  }
}
@media (any-hover:hover) {
  .header__shop:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
  }
  .header__button:hover {
    background-color: #999
  }
  .menu-header__link:hover {
    color: #fac422
  }
  .menu-footer__link:hover {
    color: #57b8ff
  }
  .menu-footer__link-social:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    background-color: #16171a
  }
  .hero__item-navigation:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
  }
  .hero__button:hover {
    background-color: #555
  }
  .hero__button--background:hover {
    background-color: #3e80af
  }
  .form-community__button:hover {
    background-color: #3e80af
  }
  .features__block:hover .features__image {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
  }
  .gaming-cloud__link:hover {
    background-color: #3e80af
  }
  .news__link:hover {
    background-color: #3e80af
  }
  .news__block:hover .news__name {
    color: #999
  }
}
.webp .community {
  background: url(../img/page/community/background.webp) center 0/cover no-repeat
}
.webp .shop {
  background: url(../img/page/shop/background.webp) center center/cover no-repeat
}