@import url("https://fonts.googleapis.com/css?family=Poppins:regular,500,600,700&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

input,
select {
  border-radius: 0;
}

button {
  color: inherit;
  background-color: transparent;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

address {
  font-style: normal;
}

.wrapper {
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.wrapper main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 78.6875rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

body {
  font-family: "Poppins", sans-serif;
  color: #fcd9b8;
}

.header {
  position: fixed;
  padding: 1.25rem;
  z-index: 60;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #000;
}
.header__search {
  width: 100%;
  padding: 0.3125rem 1.25rem;
  border-radius: 0.5rem;
  background-color: #190019;
  border: 1px solid #e09145;
  color: #e09145;
}
.header__search::-webkit-input-placeholder {
  opacity: 1;
}
.header__search::-moz-placeholder {
  opacity: 1;
}
.header__search:-ms-input-placeholder {
  opacity: 1;
}
.header__search::-ms-input-placeholder {
  opacity: 1;
}
.header__search::placeholder {
  opacity: 1;
}

.page {
  position: relative;
  padding: 1.25rem;
  font-size: 1.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.9375rem;
  padding-top: 5rem;
}
.cards {
  gap: 0.625rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(13.75rem, 1fr));
}
.cards__item {
  color: #190019;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #fcd9b8;
  overflow: hidden;
  border: 2px solid #e09145;
}
.cards__item--basic {
  background-color: #0a050a;
  color: #e09145;
}
@media (any-hover: hover) {
  .cards__item:hover {
    background-color: rgba(252, 217, 184, 0.6);
  }
}
.cards__link {
  padding: 0.625rem 0.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0.3125rem;
  width: 100%;
}
@media (min-width: 31.25em) {
  .cards__link {
    padding: 0.75rem 1.25rem;
    gap: 0.9375rem;
  }
}
.cards__number {
  font-size: 1.625rem;
  font-weight: 600;
  border: 1px solid #e09145;
  padding: 0.625rem;
  border-radius: 50%;
  aspect-ratio: 1/1;
  width: 100%;
  width: 3.125rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 31.25em) {
  .cards__number {
    font-size: 1.25rem;
    color: #e09145;
    background-color: #190019;
  }
}
@media (max-width: 31.25em) {
  .cards__title {
    font-size: 1.125rem;
  }
}

.song {
  background-color: #fcd9b8;
  color: #0a050a;
  padding: 1.5625rem;
  width: 100%;
  height: 100%;
  display: none;
  left: 0;
  top: 0;
  font-size: 1.625rem;
  overflow: auto;
  z-index: 100;
  position: fixed;
}
.song.active {
  display: block;
  z-index: 100;
}
@media (max-width: 37.5em) {
  .song {
    font-size: 1.125rem;
  }
}
.song p {
  line-height: 1.5;
  text-align: justify;
  font-weight: 400;
}
.song p:not(:last-child) {
  margin-bottom: 0.625rem;
}
.song.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
}
.song span {
  font-weight: 600;
}
.song i {
  font-weight: 500;
}
.song__button {
  background-color: #e09145;
  border-radius: 0.9375rem 1.875rem;
  padding: 0.9375rem 1.5625rem;
  font-size: 1rem;
  color: #292c35;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.background {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: blur(2px);
          filter: blur(2px);
}