@import url("https://fonts.googleapis.com/css?family=Inter:regular,700&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

input,
select {
  border-radius: 0;
}

button {
  color: inherit;
  background-color: transparent;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

address {
  font-style: normal;
}

@font-face {
  font-family: "icons";
  src: url("../font/icons.woff2") format("woff2"), url("../font/icons.woff") format("woff");
  font-weight: 800;
}
[class*=_icon-]::before {
  display: inline-block;
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-icon-down:before {
  content: "\e900";
}

._icon-icon-facebook:before {
  content: "\e901";
}

._icon-icon-instagram:before {
  content: "\e902";
}

._icon-icon-twitter:before {
  content: "\e903";
}

._icon-icon-up:before {
  content: "\e904";
}

._icon-icon-youtube:before {
  content: "\e905";
}

:root {
  --firstButtonColor: #378fe6;
  --secondButtonColor: #3eda82;
  --mainTheme: #1e202a;
  --backgroundColor: #1e202a;
  --topBGPattern: #1f212e;
  --cardBG: #252a41;
  --firstTextColor: #8b97c6;
  --secondTextColor: #ffffff;
}

.white {
  --mainTheme: #ffffff;
  --backgroundColor: #ffffff;
  --topBGPattern: #f5f7ff;
  --cardBG: #f0f2fa;
  --firstTextColor: #63687e;
  --secondTextColor: #1e202a;
}

.wrapper {
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.wrapper main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

body {
  background-color: var(--mainTheme);
  color: var(--secondTextColor);
  font-family: "Inter", sans-serif;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  padding: 1.25rem;
}

.dashboard {
  max-width: 93.75rem;
  width: 100%;
  font-size: 1.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.5rem;
}
.dashboard__preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.9375rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.dashboard__titling {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0.3125rem;
}
.dashboard__title {
  font-size: 1.6666666667em;
  font-weight: 700;
}
.dashboard__sub-title {
  color: var(--firstTextColor);
  font-size: 0.8888888889em;
}
.dashboard__mode {
  color: var(--firstTextColor);
  font-size: 0.8888888889em;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 0.625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
}
.dashboard__button-mode {
  width: 5rem;
  border-radius: 6.25rem;
  height: 2.5rem;
  background: -webkit-gradient(linear, left top, right top, from(var(--firstButtonColor)), to(var(--secondButtonColor)));
  background: linear-gradient(to right, var(--firstButtonColor), var(--secondButtonColor));
  position: relative;
}
.dashboard__button-mode::before {
  content: "";
  position: absolute;
  width: 1.875rem;
  height: 1.875rem;
  top: 50%;
  left: 0.25rem;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: var(--backgroundColor);
  border-radius: 50%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.dashboard__button-mode.active {
  background: var(--firstTextColor);
}
.dashboard__button-mode.active::before {
  left: 100%;
  -webkit-transform: translate(-100%, -50%);
      -ms-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
  margin-left: -0.25rem;
}

.social-media {
  font-size: 1.125rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18.125rem, 1fr));
  gap: 1.25rem;
}
.social-media__block {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
  border-radius: 0.375rem;
  overflow: hidden;
  padding: 1.6666666667em;
  background-color: var(--cardBG);
  text-align: center;
}
.social-media__block > *:last-child {
  margin-bottom: 0rem;
}
.social-media__block::before {
  content: "";
  width: 100%;
  height: 0.375rem;
  left: 0;
  top: 0;
  position: absolute;
}
.social-media__block--first-color::before {
  background-color: #198ff5;
}
.social-media__block--second-color::before {
  background: -webkit-gradient(linear, left top, right top, from(#fdc468), to(#df4996));
  background: linear-gradient(to right, #fdc468, #df4996);
}
.social-media__block--third-color::before {
  background-color: #c4032a;
}
.social-media__link {
  font-size: 0.8888888889em;
  color: var(--firstTextColor);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 0.3125rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.875rem;
}
.social-media__link::before {
  font-size: 2em;
}
.social-media__link--color-facebook::before {
  color: #198ff5;
}
.social-media__link--color-instagram::before {
  background: -webkit-gradient(linear, left top, right top, from(#fdc468), to(#df4996));
  background: linear-gradient(to right, #fdc468, #df4996);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.social-media__link--color-youtube::before {
  color: #c4032a;
}
.social-media__followers {
  font-size: 2.7777777778em;
  font-weight: 700;
  margin-bottom: 0.625rem;
}
.social-media__name {
  font-size: 1.1111111111em;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: var(--firstTextColor);
  margin-bottom: 1.875rem;
}
.social-media__status {
  color: #1db489;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 0.1875rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.social-media__status--down {
  color: #dc414c;
}

.overview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.5rem;
  font-size: 1.125rem;
}
.overview__title {
  font-size: 1.3333333333em;
  font-weight: 800;
}
.overview__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18.125rem, 1fr));
  gap: 1.25rem;
}
.overview__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.875rem;
  border-radius: 0.375rem;
  overflow: hidden;
  padding: 1.6666666667em;
  background-color: var(--cardBG);
}
.overview__criterion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  color: var(--firstTextColor);
  font-size: 0.8888888889em;
}
.overview__criterion::before {
  font-size: 1.1111111111em;
}
.overview__criterion--color-facebook::before {
  color: #198ff5;
}
.overview__criterion--color-instagram::before {
  background: -webkit-gradient(linear, left top, right top, from(#fdc468), to(#df4996));
  background: linear-gradient(to right, #fdc468, #df4996);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.overview__criterion--color-twitter::before {
  color: #1ca0f2;
}
.overview__criterion--color-youtube::before {
  color: #c4032a;
}
.overview__statistic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.overview__num {
  font-size: 1.9444444444em;
  font-weight: 800;
}
.overview__status {
  color: #1db489;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
}
.overview__status--down {
  color: #dc414c;
}