.button {
    background-color: $mainColor;
    color: $thirdColor;
    display: inline-flex;
    align-items: center;
    gap: toRem(6);
    font-size: toRem(18);
    font-weight: 400;
    line-height: 1.25; 
    padding: toRem(9) toRem(10);
    border-radius: toRem(14);
    transition: all 0.3s;

    &__icon {
        flex-shrink: 0;
        border-radius: 50%;
        background-color: $thirdColor;
        display: flex;
        justify-content: center;
        align-items: center;
        &::before{
            color: $mainColor;
            padding: toRem(3);
            transition: all 0.3s;
        }
    }
    &:active{
        color: $thirdColor;
    }
    @media(any-hover:hover){
        &:hover{
            background-color: $secondColor;
            .button__icon {
                &::before{
                    color: $secondColor;
                    padding: toRem(3);
                    transform: rotate(180deg);
                }
            }
        }
    }
}

.block-bottom-info {
    font-size: toRem(16);
    color: $mainColor;
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    gap: toRem(16);

    &__block {
        transition: transform 0.3s;
        @media(any-hover:hover){
            &:hover{
                    transform: scale(1.1);              
            }
        }
    }

    &__text {
        display: flex;
        gap: toRem(7);
        align-items: flex-start;
        font-weight: 400;
        &::before{
            font-size: toEm(18, 16);
        }
    }
}





