.footer {
    background-color: $thirdColor;
    color: $mainColor;

    @include adaptiveValue("font-size", 18, 14);

    padding: toEm(100, 18) 0;

    @media(max-width: toEm(600)){
        padding-bottom: toEm(40, 18);
    }
}
.navigation-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: toEm(50, 18);

    padding-bottom: toEm(32, 18);
    border-bottom: toRem(2) solid $mainColor;

    &__logos {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-grow: 1;
        gap: toEm(20, 18);
    }

    &__logo {
        aspect-ratio: 128 / 31;
        width: 100%;
        object-fit: cover;

        display: block;
        max-width: toEm(128, 18);
    }

    &__text {
        color: $secondColor;

        font-size: toEm(16, 18);
        font-weight: 400;
        line-height: 1.2;
    }

    &__navigation {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        gap: toEm(55, 18);
    }

    &__block-navigation {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: toEm(10, 18);
    }

    &__title {
        color: $secondColor;

        font-weight: 400;
        letter-spacing: toRem(2);
        line-height: 1.1;
    }

}
.menu-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: toEm(10, 18);

    &__link {
        font-weight: 40;
        transition: all 0.3s;

        text-decoration: initial;
        text-decoration-color: transparent;

        @media(any-hover:hover){
            &:hover{
                color: $secondColor;
                text-decoration: underline;
                text-decoration-color: $secondColor;
            }
        }
    }
}
.subscribe-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: toRem(20);

    border-bottom: toRem(2) solid $mainColor;
    padding: toEm(36, 18) 0;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: toEm(20, 18);
    }

    &__title {
        font-weight: 400;
        letter-spacing: toRem(2);
        font-size: toEm(16, 18);
    }

    &__text {
        color: $secondColor;
        font-weight: 400;
        font-size: toEm(14, 18);
    }

    &__form {
        max-width: toEm(458, 18);
        width: 100%;

        display: flex;
        align-items: center;
    }

    &__input {
        height: toRem(52);
        width: 100%;

        border-radius: toRem(12) 0 0 toRem(12);
        padding: 0 toEm(20, 18);

        flex-grow: 1;
    }

    &__button{
        height: toRem(52);
        padding-right: toRem(6);
        border-radius: 0 toRem(12) toRem(12) 0;

        display: flex;
        align-items: center;

        background-color: $mainColor;
    }

    &__submit {
        background-color: $thirdColor;
        color: $mainColor;

        padding: toRem(10) toRem(25);
        border-radius: toRem(11);
        transition: all 0.3s;
        @media(any-hover:hover){
            &:hover{
                background-color: $thirdHoverColor;
                transform: scale(1.05);
            }
        }
    }
}
.bottom-footer {
    padding-top: toEm(56, 18);

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: toRem(20);
    
    @media(max-width: toEm(600)){
        padding-top: toEm(26, 18);
    }

    &__signature {
        color: $secondColor;
        font-weight: 400;
        font-size: toEm(16, 18);
    }

    &__links {
        display: flex;
        align-items: center;
        gap: toEm(26, 18);
    }

    &__link {
        color: $secondColor;
        font-size: toEm(24, 18);
        @media(any-hover:hover){
            &:hover{
                &::before{
                    transform: scale(1.1);
                }
            }
        }
    }
}

