.header {
    color:$mainColor;
    background-color: $thirdColor;

    padding: toEm(30, 18) 0;
    font-size: toRem(18);
   
    .menu-open &{
        &::before{
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 2;
            
            background-color: $thirdColor;
        }
    }    
    @media(max-width: toEm(980)){
        font-size: toRem(14);
    }
    &--fixed{
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 90;
    }
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        position: relative;
        z-index: 3;

        aspect-ratio: 128 / 31;
        object-fit: cover;
        width: 100%;

        flex-shrink: 0;
        flex-basis: toRem(128);

        @media(max-width: toEm(980)){
            flex-basis: toRem(88);
        }
    }
    &__navigation {
        display: flex;
        gap: toEm(35, 18);
        align-items: center;

        @media(max-width: toEm(860)){
            overflow: auto;

            position: fixed;
            left: -100%;
            top: 0;
            width: 100%;
            height: 100%;

            background-color:$thirdColor;
            
            align-items: flex-end;
            flex-direction: column;
            padding: toRem(130) toRem(20) toRem(40);
            transition: all 0.3s;

            .menu-open &{
                left: 0;
            }
        }
    }
    &__button{
        &:active{
            background-color: $thirdColor;
        }
    }
    &__burger{
        display: none;
        @media(max-width: toEm(860)){
            flex-shrink: 0;

            display: block;
            position: relative;
            z-index: 3;

            width: toRem(50);
            height: toRem(30);

            &::before, &::after, span{
                content: "";
                width: 100%;
                height: toRem(4);

                position: absolute;
                left: 0;

                background-color: $mainColor;
                border-radius: toRem(2);

                transition: all 0.3s;
            }
            &::before{
                top: 0;
                .menu-open &{
                    top: 50%;

                    transform: rotate(45deg) translateY(-50%);
                }
            }
            &::after{
                bottom: 0;
                .menu-open &{
                    bottom: 50%;

                    transform: rotate(-45deg) translateY(50%);
                }
            }
            span{
                top: 50%;
                transform: translateY(-50%);
                .menu-open &{
                    transform: scale(0);
                }
            }
        }
    }
}
.menu-header {
    &__list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        @media(max-width: toEm(860)){
            flex-direction: column;
            align-items: flex-end;
            gap: toRem(15);
        }
    }
    &__item {
    }
    &__link {
        position: relative;

        font-weight: 400;
    
        padding: toRem(10) toRem(18);
        transition: all 0.3s;

        &::before{
            content: "";
            position: absolute;
            width: 0%;
            height: toRem(2);
            background-color: $mainColor;
            top: 100%;
            left: 10%;
            border-radius: toRem(2);
            transition: width 0.3s;
        }
        &--checked{
            color:$secondColor;

            transform: scale(0.95);
        }
        @media(any-hover:hover){
            &:hover{
                color:$secondColor;
                &::before{
                    width: 70%;
                }
            }
        }
        &:active{
            color: $thirdColor;
        }
        @media(max-width: toEm(860)){
            font-size: toRem(25);
            border-radius: toRem(12);

            border: toRem(1) solid $mainColor;
        }
    }
}

